   .link-aerington {
     background: rgb(230, 100, 0);
     background: linear-gradient(
       90deg,
       rgba(131, 58, 180, 1) 0%,
       rgba(253, 29, 29, 1) 50%,
       rgba(252, 176, 69, 1) 100%
     );
   }
    .link-archi {
     background: rgb(0, 0, 0);
     background: linear-gradient(
       90deg,
       rgba(0, 200, 60, 1) 0%,
       rgba(253, 29, 29, 1) 50%,
       rgba(252, 176, 69, 1) 100%
     );
   }
       .link-solid {
     background: rgb(300, 50, 0) ;
	 height: 7em;
	 border-radius: 3rem;
	 border-width: .50rem;
	 border-style: solid;
	 border-color: rgb(0, 0, 0) ;

	 color: rgb(0, 0, 0);
   }
          .link-transparent {
     background-color: transparent ;
	 border-radius: .5rem;
	 border-width: .25rem;
	 border-style: solid;
	 border-color: rgb(255, 255, 255) ;

	 color: rgb(0, 0, 0);
   }